* {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style-type: none;
}

button {
  background-color: inherit;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 6px 3px rgba(0,0,0,0.1);
  padding: 10px 16px;
}

select {
  background-color: rgba(0,0,0,0.1);
  border: none;
  padding: 15px;
}

table {
  padding: 20px 40px;
}
table thead {
  background-color: lightblue;
}
table tbody {
  background-color: lightyellow;
}

table thead tr td {
  padding: 10px 5px;
}

table tbody tr td {
  padding: 15px 10px;
}

table tbody tr td:nth-child(4) {
  text-align: left;
}

table tbody tr td button {
  background-color: white;
}

[data-tablecolumn="url"] {
}
[data-tablecolumn="description"] {
  text-align: left;
}
[data-tablecolumn="cronofy-client-options"] {
  text-align: left;
}
[data-tablecolumn="cronofy-client-method"] {
  text-align: left;
}
[data-tablecolumn="cronofy-client-method-options"] {
  text-align: left;
}
[data-tablecolumn="query"] {
  text-align: left;
}
[data-tablecolumn="body"] {
  text-align: left;
}
[data-tablecolumn="call"] {
}

input {
  border: 1px solid lightgrey;
  background-color: white;
  padding: 10px 15px;
  border-radius: 40px;
}

form {
  margin: auto;
  max-width: 500px;
}

.form-row {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-bottom: 10px;
}

.field {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}